<div ng-controller="AbastecimentoCtrl as ctrl">

<!-- <pre>user = {{ctrl.usuario | json}}</pre> -->
 <div class="panel panel-info panelFormMargin">
  <div class="panel-heading">
    <!-- <label for="nome" class="titleLabel">Cadastro de Usuário</label> -->
    <h3 class="panel-title">Cadastro e Edição de Abastecimento</h3>
    </div>
 </div>
<!-- ============================================ Formulário ================================================ -->
  <form id="form" name="form" class="form-bory panel panel-info panelFormMargin" novalidate >

  	<div class="row rowFieldMarginForm">

        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="form-group">
           <label for="">Veículo:</label>
           <select ng-model="ctrl.abastecimento.veiculo" class="combobox" ng-options="veiculo.idVeiculo + ' - ' + veiculo.marca + ', ' + veiculo.modelo + ', ' + veiculo.cor + ', ' + veiculo.placa for veiculo in ctrl.veiculos track by veiculo.idVeiculo">
             <option value="" disabled selected class="selectInvalid">Selecionar...</option>
           </select>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="form-group">
           <label for="">Postos:</label>
           <select ng-model="ctrl.abastecimento.postoCredenciado" class="combobox" ng-options="posto.nome for posto in ctrl.postos track by posto.idPosto">
             <option value="" disabled selected class="selectInvalid">Selecionar...</option>
           </select>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2">
          <div class="form-group">
           <label for="tipo">Quilometragem:</label>
             <div class="input-group">
               <span class="input-group-addon">KM</span>     
               <input id="" type="text" class="form-control" placeholder="Km ao abastecer" ng-model="ctrl.abastecimento.quilometragem"  
               onkeydown="Mascara(this,Integer);"
               onkeypress="Mascara(this,Integer);"
               onkeyup="Mascara(this,Integer);"
               maxlength="50">
             </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2">
          <div class="form-group">
           <label for="tipo">Litros:</label>
             <div class="input-group">
               <span class="input-group-addon">L</span>     
               <input id="" type="text" class="form-control" placeholder="Litros abastecido" ng-model="ctrl.abastecimento.litroAbastecido"  
               onkeydown="Mascara(this,Integer);"
               onkeypress="Mascara(this,Integer);"
               onkeyup="Mascara(this,Integer);"
               maxlength="50">
             </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2">
            <div class="form-group">
             <label for="">Tipo de Combustível:</label>          
            <select class="combobox" ng-model="ctrl.abastecimento.tipoCombustivel" required>          
            <option value="" disabled selected class="selectInvalid">Selecionar...</option>
            <option>GASOLINA</option>
            <option>ETANOL</option>
            <option>DIESEL</option>                   
            </select>
            </div>
        </div>

    </div><!-- Fim Row Fields 1 -->    
          
    <div class="row rowButondMarginForm">
  	       <div class="positionRight">
  		        <button class="btn btn-sm btn-info glyphicon glyphicon-ban-circle" type="button" ng-click="ctrl.limparCampos(form, ctrl.abastecimento)"> Cancelar</button>
  		        <button class="btn btn-sm btn-success positionRight glyphicon glyphicon-floppy-disk" ng-click="ctrl.salvar(ctrl.abastecimento)" type="submit"
  		        ng-disabled="form.$invalid || form.$pristine"> Salvar</button>
  	       </div>
    </div>

  </form>
 
<!-- ============================================ Lista em Tabela ================================================ -->

  <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Lista de Veículos Abastecimento</h3>
    </div>

    <div class="panel-body">
    <div class="form-group col-xs-12 col-sm-12 col-md-4">
      <label for="">Localizar:</label>
      <input class="form-control" type="text" placeholder="Digite para localizar..." ng-model="search"                maxlength="150" ng-minlength="0" />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
              <thead>
              <tr>
                  <th>#</th>
                  <th>Veículo</th>
                  <th>Posto Credenciado</th>                  
                  <th>Quilometragem</th>
                  <th>Lítros Abastecido</th>
                  <th>Tipo de Combustível</th>   
                  <th>Data do Abastecimento</th>                     
              </tr>
              </thead>

              <tbody>
              <tr ng-repeat="abastecimento in ctrl.abastecimentos | filter: search | orderBy: '' | filterPaginacao: (ctrl.currentPage - 1) * ctrl.pageSize | limitTo: ctrl.pageSize">
                  <td>{{$index + 1}}</td>
                  <td>{{abastecimento.veiculo.marca}}, {{abastecimento.veiculo.modelo}}, {{abastecimento.veiculo.cor}}, {{abastecimento.veiculo.placa}}</td>
                  <td>{{abastecimento.postoCredenciado.nome}}</td>
                  <td>{{abastecimento.quilometragem | currency : 'KM '}}</td>
                  <td>{{abastecimento.litroAbastecido | currency : 'L '}}</td>
                  <td>{{abastecimento.tipoCombustivel}}</td>  
                  <td>{{abastecimento.dataAbastecimento | dateFormat: 'dd/MM/yyyy'}}</td>                
                  <td>
                      <a id="_editar" ng-click="ctrl.edit(abastecimento)" class="btn btn-default" role="button">
                          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                          Editar
                      </a>                   
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

         <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group positionCenter">
            <uib-pagination total-items="ctrl.abastecimentos.length" ng-model="ctrl.currentPage" items-per-page="ctrl.pageSize" previous-text="Anterior" next-text="Próximo"></uib-pagination>
            </div>
            <div class="form-group positionCenter">
              Mostrar <select ng-model="ctrl.quantidade" ng-change="ctrl.setItemsPerPage(ctrl.quantidade)">          
              <option ng-selected="true">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
              <option>50</option>
              </select> registros de cada vez.
            </div>
          </div>
    </div>
  </div>
</div>