
<div ng-controller="HomeCtrl as ctrl">


 <div class="badge badgeOperadora marginFieldsBottom"> Seja bem-vindo, Sr(a). {{ctrl.usuarioLogado}}</div>

<!-- ============================================ Calendário ================================================ -->	
	<div class="container droppedHover marginMyCalendar">
	  <div class="panel panel-info panelMyCalendar">
	   <!--  <div class="panel-heading positionCenter">
	        <h3 class="panel-title">Calendário de Registro de Atividades</h3>
	    </div> -->
			<div >
				<!-- <div ui-calendar="ctrl.uiConfig.calendar" ng-model="ctrl.eventSources" class="myCalendarCSS"></div> -->
	   		</div>
	    </div>
  	</div>
</div>

